/*? ---------------Style JavaScript Cuadros ------------- */

.table{
    width: 80%;
    height: 100px;
    box-shadow: 2px 4px 2px #3a454e;
    border: solid 1.5px #000000;
}
.table th{
    background-color: rgb(29, 199, 199);
    border: solid 1.5px black;
    font-size: 18px;

}
.table td{
    border: solid 1.5px black;
    color: white;
    font-size: 14px;
}
.table tr:nth-child(2n+2){
    background-color: rgb(42, 66, 65);
}

/*? <----------------volver Trabajos fijados------------------------>*/
.fijado{
    width: 100%;
    height: 100%;
}
#cabeza{
    width: 100%;
}
#container{
    width: 100%;
}

/*? <----------------volver chat------------------------>*/
#chat{
    width: 100%;
    height: auto;
    margin-top: 2%;
    font-size: 10px;
}
.card{
    height: 90%;
    box-shadow: 2px 4px 2px #3a454e;
}
#volver{
    background-color: white;
    color: #3a454e;
    border: none;
}