/*? ---------------Style JavaScript Cuadros ------------- */

.table{
    width: 80%;
    height: 100px;
    box-shadow: 2px 4px 2px #3a454e;
    border: solid 1.5px #000000;
}
.table th{
    background-color: rgb(29, 199, 199);
    border: solid 1.5px black;
    font-size: 18px;

}
.table td{
    border: solid 1.5px black;
    color: white;
    font-size: 14px;
}
.table tr:nth-child(2n+2){
    background-color: rgb(42, 66, 65);
}

/*? <----------------volver Trabajos fijados------------------------>*/
.fijado{
    width: 100%;
    height: 100%;
}
#cabeza{
    width: 100%;
}
#container{
    width: 100%;
}

/*? <----------------volver chat------------------------>*/
#chat{
    width: 100%;
    height: auto;
    margin-top: 2%;
    font-size: 10px;
}
.card{
    height: 90%;
    box-shadow: 2px 4px 2px #3a454e;
}
#volver{
    background-color: white;
    color: #3a454e;
    border: none;
}

/*TODO <----------------RESPONSIVE------------------------>*/

@media screen and (max-width:768px){
    body{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 50px  auto 80px auto auto auto;
    }
    #Centro-Options{
        grid-template-rows: 350px 150px 150px 150px 150px 150px 150px;
        grid-template-columns: repeat(1,1fr);

    }
    header{
        grid-column: 1;
        grid-row: 1;
    }
    .perfil{
        /* display: none; */
        grid-column: 1;
        grid-row: 2;
        display: flex;
        align-items: center;
    }
    .perfil .perfilF{
        font-size: 15px;
        gap: 30px;
    }
    .perfil .perfilT, .perfilF{
        margin-top: 10px;
        padding: 0%;
    }
    .perfil figure img{
        width: 20%;
    }
    .perfil section{
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .perfil section #cursos{
        background-color: #3F3D40;
        color: white;
    }
    .novedades{
        grid-column: 1;
        grid-row: 3;
    }
    .contenidoC{
        grid-column: 1;
        grid-row: 4;
        display: flex;
    }
    #pcentro{
        grid-column: 1;
        grid-row: 5;
    }
    .piePagina{
        grid-column: 1;
        grid-row: 6;
    }
    .contenidoC .barra > *{
        font-size: 14px;
    }
    .piePagina .listaI, .listaD{
        font-size: 10px;
    }
    header .nav1 {
        width: 53%;
    }
    header .nav2 a{
        font-size: 10px;
    }
    header .logo .imgL{
        width: 50px;
    }
    header a{
        font-size: 7.5px;
    }
    .novedades{
        width: 100%;
    }
    .novedades .avisos{
        width: 80%;
    }
    .novedades .avisos h2, .avMaestros h4{
        font-size: 11px;
    }
    .novedades .avMaestros{
        width: 60%;
        height: 33px;
    }
    .piePagina{
        grid-template-columns: 50% 50%;
    }
    #Centro-Options{
        width: 85%;
        height: 100%;
        display: grid;
        gap: 20px;
        grid-template-areas: 
        "one"
        "two"
        "thre"
        "four"
        "five"
        "nine";
        grid-template-rows: 350px 150px 150px 150px 150px 500px;
        grid-template-columns: repeat(1,1fr);
    }
/** <----------------RESPONSIVE style calDestacadas------------------------>*/
    
    .table, .title{
        margin-top: 10px;
        width: 100%;
    }
    .table th,.table td{
        width: auto;
        font-size: 9.5px;
    }
    .calDest{
        background-color: #6aa5a9;
    }
/** <----------------RESPONSIVE style notas------------------------>*/
    #not{
        margin-top: 60px;
    }

/** <----------------RESPONSIVE style calendario------------------------>*/
    #text{
        width: auto;
        font-size: 50px;
        height: 20px;

    }
				
    .calendar-container{
        font-size: 10px;
    }
    #calM tr > *{
        width: auto;
        font-size: 7px;
    }
/** <----------------RESPONSIVE style calendario------------------------>*/
    #chatWid{
        height:600px;
    }
}


