{% extends 'teachers/teachers.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleTeachers.css' %}" />
    <div class="filtro">
        <form action="{% url 'course_califications' %}" method="POST" class="form_filtro">
            {% csrf_token %}
                <h2 class="title_filtro">Filtra por:</h2>
                <div class="linea_filtro"></div>

                <div class="div_filtro">
                    <label for="course" class="label_filtro">
                        <strong>Curso</strong> <input type="text" class="input_filtro" id="course" name="course" placeholder="Curso">
                    </label>
                    
                
                    <label for="subject" class="label_filtro">
                        <strong>Asignatura</strong> <input type="text" class="input_filtro" id="subject" name="subject" placeholder="Asignatura">
                    </label>
                    
                
                    <label for="calification" class="label_filtro">
                        <strong>Periodo Calificación</strong> <input type="number" class="input_filtro" id="calification" name="calification" placeholder="Nota" value="1" required>
                    </label>
                </div>
                <div class="linea_filtro"></div>
            <div class="content_boton">
                <button type="submit" class="button_filtro">Filtrar</button>
                <a id="enlace_boton" href="/courses_califications">Reset</a>
                
            </div>
        </form>
    </div>
    <div class="content_padre">
        {% for curso in cursos %}
            {% if curso.calificaciones_estudiantes %}
                <div class="content_Courses" id="courses">
                    <table class="table" id="table">
                        <h2 class="title">{{ curso.curso.level }}</h2>
                        <thead>
                            <tr>
                                <th>Asignatura</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Calificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for calificacion_estudiante in curso.calificaciones_estudiantes %}
                            {% if calificacion_estudiante.calificacion %}
                                <tr>
                                    <td>{{ curso.asignatura.name }}</td>
                                    <td>{{ calificacion_estudiante.student.first_name }}</td>
                                    <td>{{ calificacion_estudiante.student.last_name }}</td>
                                    <td>
                                        {% if calification_filter %}
                                            {% if calification_filter == 1 %}
                                                {{ calificacion_estudiante.calificacion.firstPeriod }}
                                            {% elif calification_filter == 2 %}
                                                {{ calificacion_estudiante.calificacion.secondPeriod }}
                                            {% elif calification_filter == 3 %}
                                                {{ calificacion_estudiante.calificacion.thirdPeriod }}
                                            {% elif calification_filter == 4 %}
                                                {{ calificacion_estudiante.calificacion.fourthPeriod }}
                                            {% elif calification_filter == 5 %}
                                                {{ calificacion_estudiante.calificacion.finish }}
                                            {% else %}
                                                {{ calificacion_estudiante.calificacion.firstPeriod }}
                                            {% endif %}
                                        {% else %}
                                            {{ calificacion_estudiante.calificacion.firstPeriod }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% else %}
                                    asignatura no existe!
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
        {% endfor %}
    </div>    
{% endblock %} 
