body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 80px;
}

.menu {
  background-color: #000000;
  width: 200px;
  padding: 20px;
  height: 93.9vh;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 80px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li, .menu div li {
  margin-bottom: 10px;
}

.menu a, .menu div a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu a i, .menu div a i{
  margin-right: 10px;
}

.menu a:hover, .menu div a:hover {
  background-color: #ccc;
}

.menu #user-menu{
  font-size: larger;
}

.menu #user-menu li{
  text-align: center;
}

.menu #user-menu li:nth-child(2) a{
  background: #fff;
  color: #000000;
}

.menu #user-menu li:last-child{
  display: none;
}

#father-profile {
  text-align: center;
}

main {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column; /* Cambio aquí */
  flex-basis: 60%;
  height: fit-content;
  margin: 50px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.payment-section {
  flex: 1;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.payment-period {
  margin-bottom: 20px;
}

.period-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.period-option {
  background-color: #f2f2f2;
  padding: 10px 20px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.period-option.selected {
  background-color: #ccc;
}

.payment-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.payment-option {
  flex-basis: 100px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.payment-option i {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
}

.payment-option span {
  display: block;
  font-size: 14px;
  color: #666;
}

#card-details, #paypal-details {
  display: none;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 97%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #555;
}

#success-message {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#success-message h2 {
  color: #333;
}

#success-message p {
  color: #666;
}

.element-paypal-form {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    height: fit-content;
}

.element-paypal-form p{
    flex-basis: 300px;
    
    margin: 0;
}

.element-paypal-form button {
    width: 100%;

    margin: 10px auto;
    padding: 10px;

    background: #f2f2f2;
    color: #010101;

    border: none;

    cursor: pointer;

    font-size: larger;
}

#father-profile, #father-logout {
  display: none;
}

@media (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }

  .menu {
    width: 100%;
    margin-bottom: 20px;
  }

  .payment-section {
    flex-basis: 100%;
  }

  .period-options {
    flex-direction: column;
    align-items: center;
  }

  .period-option {
    margin-bottom: 10px;
  }

  .payment-options {
    flex-direction: column;
    align-items: center;
  }

  .payment-option {
    margin: 10px 0;
  }
}
