#pcentro{
    grid-column: 1;
    grid-row: 4/5;
}
#Centro-Options{
    grid-template-areas: 
    "one one one"
    "one one one"
    "two two two"
    "two two two";
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: repeat(2,1fr);
}
