<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaturas</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/menuasignatura.css'%}">
    <link rel="stylesheet" href="{% static 'css/asignaturacard.css'%}"> 
</head>
<body>
    <div class="sidebar" id="sidebar">
        <h2>SchoolSoft</h2>
        <ul>
            <li><a href="/student"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="#"><i class="fas fa-book"></i> Asignaturas</a></li>
            <li><a href="/qualification"><i class="fa-sharp fa-solid fa-book-open"></i></i> Calificaciones</a></li>
            <li><a href="/info"><i class="fas fa-info-circle"></i> Información</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            <li><p>Estudiante: {{students.first_name}} {{students.last_name}} {{students.id_number}}</p></li>
        </ul>
    </div>
  
    {% for subject in subjects  %}
    {% for rel in rel_teacher  %}
    {% for teacher in teachers  %}
    {% if subject.id == rel.subject_id_id and teacher.id == rel.teacher_id_id%}
    
    <div class="asignatura-card">
        <div class="asignatura-info">
            <h3>{{subject.name}}</h3>
            <p>Profesor: {{teacher.first_name}} {{teacher.last_name}}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
    




</body>
</html>
