.desktopclases-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktopclases-desktopclases {
  width: 100%;
  height: 1264px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(52, 83, 93, 1);
}
.desktopclases-principal {
  top: 50px;
  left: 432px;
  width: 396px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6000000238418579);
}
.desktopclases-aside {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 1264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px 0 0;
  background-color: rgba(54, 47, 62, 1);
}
.desktopclases-ellipse1 {
  top: 34px;
  left: 25px;
  width: 139px;
  height: 137px;
  position: absolute;
}
.desktopclases-text {
  top: 74px;
  left: 164px;
  color: rgba(255, 255, 255, 1);
  width: 161px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text02 {
  top: 113px;
  left: 181px;
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-principal1 {
  top: 275px;
  left: 55px;
  width: 290px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
.desktopclases-iconsax-linearbook1 {
  top: 7px;
  left: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.desktopclases-principal2 {
  top: 358px;
  left: 55px;
  width: 290px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
.desktopclases-iconsax-linearlayer {
  top: 7px;
  left: 6px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.desktopclases-iconsax-lineararrowright2 {
  top: 282px;
  left: 348px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.desktopclases-iconsax-lineararrowright21 {
  top: 365px;
  left: 348px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.desktopclases-iconsax-lineararrowright22 {
  top: 448px;
  left: 345px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.desktopclases-principal3 {
  top: 441px;
  left: 55px;
  width: 290px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
.desktopclases-iconsax-linearnotificationbing {
  top: 7px;
  left: 7px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.desktopclases-principal4 {
  top: 524px;
  left: 55px;
  width: 290px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
.desktopclases-iconsax-linearprofiletick {
  top: 7px;
  left: 7px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.desktopclases-principal5 {
  top: 666px;
  left: 61px;
  width: 290px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
.desktopclases-principal6 {
  top: 749px;
  left: 61px;
  width: 290px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
.desktopclases-principal7 {
  top: 832px;
  left: 61px;
  width: 290px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
.desktopclases-principal8 {
  top: 915px;
  left: 61px;
  width: 290px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
.desktopclases-text04 {
  top: 240px;
  left: 55px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text06 {
  top: 631px;
  left: 61px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text08 {
  top: 241px;
  left: 251px;
  color: rgba(255, 255, 255, 0.25);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text10 {
  top: 632px;
  left: 254px;
  color: rgba(255, 255, 255, 0.25);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-menu {
  top: 50px;
  left: 860px;
  width: 527px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.10000000149011612);
}
.desktopclases-text12 {
  color: rgba(255, 255, 255, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text14 {
  left: 340px;
  color: rgba(255, 255, 255, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text16 {
  left: 99px;
  color: rgba(255, 255, 255, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text18 {
  left: 212px;
  color: rgba(255, 255, 255, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-iconsax-linearmaximize3 {
  top: 10px;
  left: 1342px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.desktopclases-iconsax-lineararchiveminus {
  top: 10px;
  left: 1312px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.desktopclases-iconsax-linearclosesquare {
  top: 10px;
  left: 1376px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.desktopclases-image1 {
  top: 129px;
  left: 452px;
  width: 171px;
  height: 55px;
  position: absolute;
  border-radius: 40px;
}
.desktopclases-image7 {
  top: 129px;
  left: 654px;
  width: 171px;
  height: 55px;
  position: absolute;
  border-radius: 40px;
}
.desktopclases-image8 {
  top: 129px;
  left: 856px;
  width: 171px;
  height: 55px;
  position: absolute;
  border-radius: 40px;
}
.desktopclases-text20 {
  top: 140px;
  left: 662px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text22 {
  top: 140px;
  left: 877px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text24 {
  top: 142px;
  left: 490px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-image3 {
  top: 287px;
  left: 927px;
  width: 451px;
  height: 219px;
  position: absolute;
  border-radius: 30px;
}
.desktopclases-image11 {
  top: 771px;
  left: 936px;
  width: 451px;
  height: 219px;
  position: absolute;
  border-radius: 30px;
}
.desktopclases-image9 {
  top: 534px;
  left: 927px;
  width: 451px;
  height: 219px;
  position: absolute;
  border-radius: 30px;
}
.desktopclases-image12 {
  top: 1018px;
  left: 936px;
  width: 451px;
  height: 219px;
  position: absolute;
  border-radius: 30px;
}
.desktopclases-image4 {
  top: 287px;
  left: 454px;
  width: 451px;
  height: 219px;
  position: absolute;
  border-radius: 30px;
}
.desktopclases-image13 {
  top: 771px;
  left: 463px;
  width: 451px;
  height: 219px;
  position: absolute;
  border-radius: 30px;
}
.desktopclases-image10 {
  top: 534px;
  left: 454px;
  width: 451px;
  height: 219px;
  position: absolute;
  border-radius: 30px;
}
.desktopclases-image14 {
  top: 1018px;
  left: 463px;
  width: 451px;
  height: 219px;
  position: absolute;
  border-radius: 30px;
}
.desktopclases-text26 {
  top: 291px;
  left: 456px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text28 {
  top: 775px;
  left: 465px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text30 {
  top: 538px;
  left: 456px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text32 {
  top: 1022px;
  left: 465px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text34 {
  top: 291px;
  left: 946px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text36 {
  top: 775px;
  left: 955px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text38 {
  top: 538px;
  left: 946px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text40 {
  top: 1022px;
  left: 955px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-rectangle3 {
  top: 384px;
  left: 927px;
  width: 451px;
  height: 122px;
  position: absolute;
}
.desktopclases-rectangle7 {
  top: 868px;
  left: 936px;
  width: 451px;
  height: 122px;
  position: absolute;
}
.desktopclases-rectangle5 {
  top: 631px;
  left: 927px;
  width: 451px;
  height: 122px;
  position: absolute;
}
.desktopclases-rectangle8 {
  top: 1115px;
  left: 936px;
  width: 451px;
  height: 122px;
  position: absolute;
}
.desktopclases-text42 {
  top: 470px;
  left: 959px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text44 {
  top: 954px;
  left: 968px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text46 {
  top: 717px;
  left: 959px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text48 {
  top: 1201px;
  left: 968px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-rectangle4 {
  top: 384px;
  left: 454px;
  width: 451px;
  height: 122px;
  position: absolute;
}
.desktopclases-rectangle9 {
  top: 868px;
  left: 463px;
  width: 451px;
  height: 122px;
  position: absolute;
}
.desktopclases-rectangle6 {
  top: 631px;
  left: 454px;
  width: 451px;
  height: 122px;
  position: absolute;
}
.desktopclases-rectangle10 {
  top: 1115px;
  left: 463px;
  width: 451px;
  height: 122px;
  position: absolute;
}
.desktopclases-text50 {
  top: 423px;
  left: 494px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text52 {
  top: 907px;
  left: 503px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text54 {
  top: 670px;
  left: 494px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text56 {
  top: 1154px;
  left: 503px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text58 {
  top: 414px;
  left: 945px;
  color: rgba(255, 255, 255, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text60 {
  top: 898px;
  left: 954px;
  color: rgba(255, 255, 255, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text62 {
  top: 661px;
  left: 945px;
  color: rgba(255, 255, 255, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text64 {
  top: 1145px;
  left: 954px;
  color: rgba(255, 255, 255, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text66 {
  top: 470px;
  left: 494px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text68 {
  top: 954px;
  left: 503px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text70 {
  top: 717px;
  left: 494px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-text72 {
  top: 1201px;
  left: 503px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-image15 {
  top: 129px;
  left: 1063px;
  width: 171px;
  height: 55px;
  position: absolute;
  border-radius: 40px;
}
.desktopclases-text74 {
  top: 140px;
  left: 1115px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktopclases-image16 {
  top: 201px;
  left: 454px;
  width: 780px;
  height: 55px;
  position: absolute;
  border-radius: 40px;
}
.desktopclases-text76 {
  top: 214px;
  left: 481px;
  color: rgba(255, 255, 255, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
