/*!---calificaciones destacadas en los 4 periodos*/
.DestacPadre{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.padreCart{
    display: flex;
    width: 70%;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 70px;
}
.textCart{
    background-color: #D9D9D9;
    box-shadow: 1px 1px 5px #1367C8;
    padding: 10px;
    border-radius: 10px;
    width: 210px;
}
.textCart li{
    list-style-type: none;
}
.textCart li h2{
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    text-shadow: #1367C8 1px 1px 3px;
}
.textCart li .p{
    font-size: 13px;
    text-align: center;
}
.textCart li .p b{
    color: #1367C8;
}
.carts{
    width: 400px;
    height: 200px;
    background-color: #CFCFCF;
    box-shadow: 1px 1px 5px #1367C8;
    border-radius: 5px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    
}
.imgCarts > img{
    width: 100px;
    height: auto;
}

.imgCarts{
    background-color: #D9D9D9;
    box-shadow: 1px 1px 5px #1367C8;
    padding: 10px;
    border-radius: 50%;
}


/*!vista de cursos y estudiantes a calificar*/
.content_padre{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content_curso{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    width: 300px;
    box-shadow: 1px 1px 5px black;
}
#courses{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    width: 400px;
}
.title{
    color: black;
    text-align: center;
    padding-top: 20px;
}
.title strong{
    color: rgb(0, 0, 0);
    text-shadow: #1367C8 3px 3px 3px;
}
.table tr th{
    background-color: #CFCFCF;
    color: black;
    
}
.table tr td{
    border-bottom: solid 1px #AEAEAE;
}
.botonCurso{
    border: none;
    padding: 3px;
    border-radius: 10px;
    background-color: #1367C8;
    color: white;
}
/* #table tbody tr:nth-child(even) {
    background-color: #CFCFCF;
} */
/* .tablaDatos tbody tr:nth-child(odd) {
    background-color: #363434;
    border-top: solid 1px #201E1E;
    border-bottom: solid 1px #201E1E;
} */

/*! calificar estudiante*/
.califation_estudent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #FAF4F4;
    border-radius: 10px;
}
.content_Courses{
    box-shadow: 1px 1px 5px black;
}
#titleCorse{
    text-align: center;
    font-size: 24px;
}
#form{
    width: 150px;
}
#form > input{
    height: 25px;
}
#inp{
    width: 120px;
}
#contImg{
    border: none;
}
#contImg > i{
    font-size: 25px;
    color: black;
}

/*! curso y calificaciones por materia*/
.filtro{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.form_filtro{
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.title_filtro{
    margin-left: 10px;
    font-size: 20px;
    text-decoration:underline;
    text-shadow: #1367C8 3px 3px 3px;
}
.label_filtro{
    font-size: 18px;
}
.div_filtro{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.linea_filtro{
    width: 98%;
    height: 1px;
    background-color: #AEAEAE;
    margin: 10px;
    margin-right: 10px;
}
.label_filtro > input{
    border: none;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 1px 1px 3px black;
}
.label_filtro > input:focus {
    outline: none; 
}
.content_boton{
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-right: 10px;
}
.button_filtro{
    padding: 5px;
    font-weight: 700;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1367C8;
    transition: 0.5s;
    box-shadow: 1px 1px 3px #1367C8;
}
.button_filtro:hover{
    transform: scale(1.1);
}
#enlace_boton{
    color: #1367C8;
    width: 70px;
    border: none;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}

/*! sesion notas */
.notas{
    width: 80%;
    text-align: center;
    color: white;
    background-color: #1367C8;
    padding: 10px;
    border-radius: 10px;
}

.notes_creator{
    width: 80%;
    text-align: center;
    height: auto;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}
.header_title{
    background-color: #1367C8;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.buscador{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.buscador input{
    border: none;
    padding-left: 10px;
}
.buscador form > button{
    border: none;
}
.buscador input, .form_note input,  .form_note textarea:focus {
    outline: none; 
}

.creador{
    width: 300px;
    height: auto;
    box-shadow: 1px 1px 3px black;
    margin: 40px;
    background-color: #CFCFCF;
    border-radius: 10px;
}
.note_icon{
    background-color: #1367C8;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.note_icon i{
    font-size: 20px;
}

.form_note input, .form_note textarea{
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px black;
    padding-left: 10px;
}

.save_note{
    width: 100px;
    padding: 5px;
    margin: 10px;
    border: none;
    background-color: #1367C8;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}
.save_note:hover{
    transform: scale(1.1);
}
/*notas hechas*/
.delete_note{
    display: flex;
    justify-content: end;
}
.delete_note > button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #EF2424;
    color: white;
}
.notas_hechas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#note_R{
    margin: 20px;
    max-width: 350px;
    background-color: #CFCFCF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}