*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}

/*! ----------GRID------------ */
body{
    background-color: #CFCFCF;
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50px 80px auto auto auto auto;
}
header{
    grid-column: 1;
    grid-row: 1;
}
#contenidoC{
    grid-column: 1;
    grid-row: 2;
}
#pcentro{
    grid-column: 1;
    grid-row: 3;
}
.nota_title{
    grid-column: 1;
    grid-row: 4;
}
.notes{
    grid-column: 1;
    grid-row: 5;
}
.piePagina{
    grid-column: 1;
    grid-row: 6;
}
/*! ----------GRID------------ */
/*Encabezado*/
header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #1367C8;
    justify-content: space-around;
    align-items: center;
}
header .nav1, .nav2, .logo{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header .nav1{
    background-color: #1A86B5;
    
    width: 60%;
    height: 30px;
    justify-content: space-around;
    border-radius: 20px;
}
header .nav2, .logo{
    gap: 10px;
    padding: 10px;
}
header .nav1 a{
    padding: 10px;
}
header a{
    color: white;
    text-decoration: none;
}
/*Logoel colegio*/

header .logo{
    width: auto;
}
header .logo .imgL{
    width: 90px;
    height: auto;
    
    border-radius: 50%;
}

/*!------------boton---------- */
#adm1{
    margin-top: 15px;
    width: 90%;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
}

/** -------Alineacion de textos--------*/
.avisos, .avMaestros, .contenidoC .barra{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*! Encabezado negro antes de cuadrados*/
.contenidoC{
    height: 100px;
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenidoC #cont{
    background-color: #1367C8;
    width: 60px;
    height: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.contenidoC .circulo{
    background-color: #1367C8;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    border: solid 2px white;
}
.contenidoC .barra{
    background-color: #1367C8;
    width: 75%;
    height: 30px;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.barra > h2{
    font-size: 20px;
}
/*! Opciones centrals y mensaje privados*/

#pcentro, .content_note, .notes{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 40px;
}
#hpcentro{
    width: 80%;
    height: auto;
    min-height: 500px;
    background-color: #FAF4F4;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
}
/*TODO----------menu desplegable -------*/
:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor: #3F3D40;
    --hovercolor: rgb(23, 23, 23);
    --width--collapsed: 45px;
}

.body-expanded{
    margin-bottom: var(--width);
}
#main-container{
    color: while;
}
#sidemenu{
    background-color: rgba(30, 101, 208, 0.353);
    border: 1px solid rgba(0, 0, 0, 0.663);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: while;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
}

#sidemenu a{
    color: while;
    text-decoration: none;
}
/*header*/
#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}
#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}
#sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
}
#title span{
    font-size: 32px;
    text-shadow: #0f7ead 2px 2px;
    text-decoration: underline;
}
.item a{
    color: #2c2d2e;
    font-weight: 900 ;
}
#profile #name{
    font-size: 32px;
    text-shadow: #0f7ead 2px 2px;
}
#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width--collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}

/*profile*/
#sidemenu #profile{
    /* border-top: solid 1px var(--hovercolor); */
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding);
    text-align: center;
}

#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
    width: 200px;
}

#sidemenu #profile #photo img{
    width: auto;
    height: 150px;
}

#sidemenu #profile #photo, #sidemenu #profile #name{
    font-size: 24px;
    padding: var(--padding);
    overflow: hidden;
}

/*items */
#sidemenu #menu-items{
    overflow: hidden;
}
#sidemenu #menu-items .item{
    width: var(--width);
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a{
    display: block;
}

#sidemenu #menu-item .items a:hover{
    background-color: var(--hovercolor);
}
#sidemenu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width--collapsed);
}

#sidemenu #menu-items .item .icon img{
    width: 100%;
}

#sidemenu #menu-items .item .title{
    padding: var(--padding) 0;
}

#sidemenu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}

.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #title span {
    width: calc(--width) - var(--width--collapsed) - 5px;
    overflow: hidden;
}


.menu-expanded #header #title span a{
    width: calc(--width) - var(--width--collapsed) - 5px;
    overflow: hidden;
}


.menu-expanded #profile #photo{
    width: 200px;
}
.menu-expanded #profile #photo{
    width: 100%;
}
.menu-collapsed{
    width: var(--width--collapsed);
}

.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.menu-collapsed #profile #name{
    display: none;
}
.menu-collapsed .item{
    width: 100px;
}
.icon > i{
    font-size: 20px;
    transition: 0.3s;

}
.icon >i:hover{
    transform: scale(1.2);
    color: #1367C8;
}
/*! FOOTER*/
.piePagina{
    width: 100%;
    height: auto;
    background-color: #242424;
    border-top: solid 1px #07d7fc;
    box-shadow: 4px 0px 5px #07d7fc;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 470px 150px;
}
.piePagina .listaI , .listaD{
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
}
.piePagina .listaD{
    display: flex;
    flex-direction: column; 
}
.piePagina .listaI a , .listaD a{
    text-decoration: none;
    color: white;
}
.piePagina .listaI a:hover, .listaD a:hover{
    text-decoration: underline;
    border-bottom: solid 2px #07d7fc;
    color: aqua;
}
