
<!DOCTYPE html>
<html lang="en">  
 <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calificaciones</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/calification.css' %}"/>
  </head>
  <body>
    <main id="Padre_main">
      <aside class="aside_izquierda">
        <img src="{% static 'img/logoEstu.png' %}" alt="logo.png" class="logo">
        <img src="{% static 'img/luigi.png' %}" alt="luigi.png" class="usuario">
        {% block name %}
        {% endblock %}

    </aside>
      <section class="section_derecha">
        <div class="encabezado_de_clase">
          <h1>Calificaciones</h1>
        </div>

        <div class="mateasig">
          {% for subject in subjects  %}
          <h2>{{subject.name}}</h2>
          {% endfor %}
          

          <p class="materia_titulo">
           {{student.first_name}} <br />
            
          </p>
          
          <div class="notas_invisibles">
          
        </div>
        </div>
    </div>
    
            </section>
    </main>
    <script src="{% static 'js/calification.js' %}" defer></script>
  </body>
  <html>
    