{% extends 'students/base_extends.html' %}
{% block content %}
{% for califications in califications %}

<table>
  <tr>
    <th>id_estudiantes</th>
    <th>periodo1</th>
    <th>periodo2</th>
    <th>periodo3</th>
    <th>periodo4</th>
    <th>califcacion completa</th>
  </tr>
              <tr>
                <td class="">{{califications.student_id}}</td>
                <td class="">{{califications.firstPeriod}}</td>
                <td class="">{{califications.secondPeriod}}</td>
                <td class="">{{califications.thirdPeriod}}</td>
                <td class="">{{califications.fourthPeriod}}</td>
                <td class="">{{califications.finish}}</td>
              </tr>
            </table>
            {% endfor %}
{% endblock %}